/* Flex */
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* sp only */

.sp-only {
    display: none;
}

@media screen and (max-width: 600px) {
    .sp-only {
        display: block;
    }
}

/* text */

.text-highlight {
    color: var(--text-highlight);
}