@import url("base.css");
@import url("common.css");
@import url("fonts.css");
@import url("components.css");


/* =============
Header
================ */

header {
    padding-block: 35px;
    box-shadow: 0 16px 32px rgba(12, 12, 13, 0.4);
}

.menu-nav {
    display: flex;
    gap: 24px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-nav a {
    color: inherit;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    background-image: url("../img/menu-toggle.png");
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 24px;
    cursor: pointer;
}

.menu-nav li {
    width: 262px;
    height: 78px;
    padding: 11px;
    background: var(--secondary-color);
}

.menu-nav .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    height: 100%;
    background: var(--background-color);
}

.menu-nav .nav-link--title {
    font-family: Meister;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.menu-nav .nav-link--subtitle {
    font-family: Meister;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--secondary-color);
    text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }

    .menu-nav {
        visibility: hidden;
        position: fixed;
        top: 89.78px;
        left: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 16px;
        transition: all 0.3s ease-in-out;
        padding: 24px 20px;
        background: var(--background-color);
        z-index: 99;
    }

    body.menu-open {
        overflow: hidden;
    }

    body.menu-open .menu-nav {
        visibility: visible;
        transition: all 0.3s ease-in-out;
        left: 0;
    }

    .menu-nav li {
        width: min(100%, 350px);
    }
}

@media screen and (max-width: 490px) {
    header {
        padding-block: 24px;
    }

    .custom-logo-link img {
        width: 165px;
        height: auto;
    }
}

/* =============
Banner
================ */
.banner-section {
    padding-block: 48px;
}

.banner-section .container {
    position: relative;
}

.banner-content {
    position: absolute;
    bottom: 44px;
    left: 35px;
    z-index: 1;
}

.banner-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.banner-text {
    line-height: 1.1;
}

.swiper-slide {
    width: 100%;
}

.swiper-slide img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 600px) {
    .banner-section .swiper {
        aspect-ratio: 350/ 193;
    }

    .banner-section {
        padding-block: 24px;
    }

    .banner-content {
        bottom: 6px;
        left: 9px;
    }

    .banner-title {
        font-size: 24px;
        margin-bottom: 4px;
    }

    .banner-text {
        font-size: 12px;
    }
}

/* =============
Popular
================ */

.popular-section h3 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 48px;
}

.popular-section .event {
    position: relative;
    overflow: hidden;
}

.popular-section .slide-content {
    height: 100%;
}

.popular-section .event-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    bottom: 0;
    position: absolute;
}

.popular-section .event-location {
    font-weight: bold;
    font-size: 12px;
}

.popular-section .event-time {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
}

.popular-section .event-time > div {
    background: linear-gradient(94.24deg, #038303 2.38%, #16BF16 97.62%);
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 4px;
}

.popular-section .event-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 78px;
    background: linear-gradient(180deg, rgba(39, 213, 156, 0) 0%, #27D59C 63.23%);
}

.popular-section .swiper-slide {
    height: 222px;
    border-radius: 12px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .popular-section .swiper-slide {
        width: auto;
        height: 193px;
    }

    .popular-section h3 {
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 24px;
    }
}

/* =============
Music
================ */

.music-section {
    position: relative;
    padding-top: 170px;
    margin-bottom: 48px;
}

.hud-background {
    position: absolute;
    top: -32px;
    width: 100%;
    overflow: hidden;
}

.hud-background img {
    width: 100%;
    mix-blend-mode: color-dodge;
}

.music-section .container {
    position: relative;
    z-index: 1;
}

.jager-music {
    background: var(--background-color);
    border-radius: 24px;
    padding: 46px;
}

.jager-music h3 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.jager-music-text {
    text-align: center;
    margin-bottom: 48px;
}

.jager-music-gallery {
    display: flex;
    gap: 24px;
}

.jager-music-gallery img {
    width: 100%;
}

.jager-music-gallery > div:first-child {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.jager-music-gallery > div:last-child {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.jager-bg-sp {
    display: none;
}

@media screen and (max-width: 600px) {
    .music-section {
        padding-top: 80px;
    }

    .jager-music {
        padding: 40px;
        gap: 16px;
    }
    
    .jager-music h3 {
        font-size: 32px;
    }

    .jager-bg {
        display: none;
    }

    .jager-bg-sp {
        display: block;
    }

    .jager-music-gallery {
        flex-direction: column;
        gap: 16px;
    }

    .jager-music-gallery > div:first-child {
        gap: 16px;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
    }
    
    .jager-music-gallery > div:last-child {
        gap: 16px;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
    }

    .jager-music-text {
        font-size: 14px;
    }
}

/* =============
Detail
================ */

.detail-section {
    margin-bottom: 48px;
}

.detail-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 12px;
}

.detail-btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    padding: 6.5px 11px;
    border-radius: 8px;
    text-transform: uppercase;
    color: var(--primary-color);
    background: white;
    width: fit-content;
    margin-inline: auto;
}

.detail img {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .detail-title {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .detail-btn {
        font-size: 12px;
    }
}

/* =============
Video
================ */

.video-section {
    margin-bottom: 120px;
}

.video-gallery-content {
    position: relative;
    background-color: rgba(156, 24, 13, 1);
    width: 244px;
    padding: 24px;
    overflow: hidden;
}

.video-gallery__bg {
    position: absolute;
    top: 0;
    left: 0;
}

.video-gallery__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-gallery-inner {
    background: white;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 12px;
    padding: 24px;
    gap: 10px;
}

.video-section-inner {
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.video-bg {
    flex-grow: 1;
    position: relative;
    align-self: stretch;
    overflow: hidden;
}

.video-bg img {
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.video-bg-content {
    position: absolute;
    left: 35px;
    bottom: 44px;
    z-index: 1;
    width: fit-content;
    width: min(100%, 370px);
}

.video-bg-content img {
    margin-inline: auto;
    margin-bottom: 24px;
    display: block;
    position: relative;
}

.video-bg-content p {
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .video-section {
        margin-inline: auto;
        overflow: hidden;
    }

    .video-section-inner {
        flex-direction: column;
        min-height: 558px;
        align-items: stretch;
    }

    .video-gallery-inner {
        grid-template-columns: 1fr 1fr;
    }

    .video-gallery-content {
        width: auto;
    }

    .video-gallery-inner {
        padding: 16px;
        gap: 12px;
    }

    .video-gallery__item {
        position: relative;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .video-gallery__item img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .video-bg img {
        width: 100%;
    }

    .video-bg-content {
        left: 10px;
        bottom: 10px;
        width: min(100%, calc(100% - 24px));
    }
    
    .video-bg-content img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
        margin-left: 0;
    }
    
    .video-bg-content p {
        font-size: 10px;
    }
}

/* =============
Overall
================ */

.overall-section {
    margin-bottom: 48px;
    position: relative;
    padding-block: 60px;
    overflow-y: hidden;
}

.overall-section h3 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.overall-container {
    position: relative;
    padding-top: 55px;
    padding: 55px 45px 75px;
}

.prost-background {
    position: absolute;
    top: 0;
    left: 0;
}

.overall-section .swiper-slide {
    width: auto;
    height: 217px;
    background: var(--primary-color);
    border-radius: 12px;
    overflow: hidden;
}

.overall-slider {
    margin-bottom: 40px;
}

.overall {
    position: relative;
    z-index: 1;
}

.overall-item-title {
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--secondary-color);
    margin-bottom: 6px;
}

.overall-item-text {
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
}

.overall-item {
    position: relative;
    z-index: 1;
}

.overall-item--first {
    padding: 32px 15px;
    display: flex;
    gap: 12px;
}

.overall-item--second {
    padding: 8px 26px;
}

.overall-item--second .overall-item-title {
    text-align: center;
}

.overall-item--second .overall-item-text {
    text-align: center;
}

.overall-item--second .gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overall-item--third {
    padding: 32px 15px;
    display: flex;
    gap: 12px;
}

.campaign {
    display: flex;
    position: relative;
    z-index: 1;
}

.campaign-left {
    display: flex;
    gap: 50px;
}

.campaign-left img {
    display: block;
}

.campaign-left > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.campaign-right {
    position: relative;
    flex: 1;
}

.campaign-right .feature-text {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: var(--green-color);
    margin-bottom: 8px;
}

.campaign-right .description-text {
    text-align: center;
}

.campaign-right .detail-button {
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 12px;
    width: 240px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

/* =============
Perfect
================ */

.perfect-section {
    padding-bottom: 50px;
}

.perfect-section h3 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.perfect-section p {
    text-align: center;
    width: min(800px, 100%);
    margin-inline: auto;
}

/* =============
Feature event
================ */

.feature-event-section {
    position: relative;
    padding-block: 72px;
}

.feature-event-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 50px;
    border-radius: 24px;
    align-items: center;
}

.feature-content {
    max-width: 470px;
}

.feature-logo {
    height: 100%;
    position: relative;
}

.feature-logo-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(22, 191, 22, 1);
}

.join-us-button {
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: white;
    border-radius: 12px;
    width: 216px;
    height: 48px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 100px;
    background: linear-gradient(94.24deg, #038303 2.38%, #16BF16 97.62%);
}

.feature-content {
    align-self: stretch;
}

.feature-content h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: rgba(22, 191, 22, 1);
    margin-bottom: 8px;
}

.feature-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
}

.feature-content__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.feature-content__bottom .event-location {
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.feature-content__bottom .event-time  {
    display: flex;
    gap: 12px;
    align-items: center;
}

.feature-content__bottom .event-time > span {
    width: 66px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(94.24deg, #038303 2.38%, #16BF16 97.62%);
    color: white;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
}

/* =============
CSV
================ */

.csv-section {
    position: relative;
    padding-block: 60px;
    overflow-y: hidden;
    background-color: rgba(219, 107, 48, 1);
}

.csv-section .section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

.csv-section .section-subtitle {
    text-align: center;
    margin-bottom: 90px;
}

.csv-container {
    position: relative;
    z-index: 1;
}

.csv-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: min(5%, 32px);
}

.csv-product {
    width: 100%;
    height: 337px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.csv-product-gallery {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.csv-product-thumb {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 24px;
}

.csv-product-thumb img {
    position: absolute;
}

.csv-product-gallery__item {
    width: 68px;
    height: 68px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(254, 232, 212, 1);
}

.csv-product-gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.csv-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 72px;
    background-color: white;
    color: rgba(156, 24, 13, 1);
    text-align: center;
    border-radius: 12px;
}

.csv-product-info__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.csv-product-info__ml {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}